#set ( $pack = $PACKAGE_NAME.replace(".","`"))
BeginPackage["${pack}`${NAME}"]
debug["begin of ", \$Context, {msg,4}];

Begin["`Private`"]

End[] (* `Private` *)


debug["end of ", \$Context, {msg,4}];
EndPackage[]